html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
}

#main {
  background-color: #efe7d3;
  border-radius: 5px;
  border: 3px solid#fa23d2;
}

.jumbotron {
  background-image: url(./images/background.png);
  height: 80vh;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  border-radius: 0px !important;
}

.jumbotron h1 {
  margin: 30px 0;
  font-size: 30px;
  line-height: 1.5;
}

.intro {
  padding-top: 150px;
}

.intro img {
  width: 220px;
}

.navbar-nav a {
  color: #211522;
  margin: 0 20px;
  margin-top: 30px;
}

.navbar-toggler {
  color: #ffffff;
  border: none !important;
  outline: none !important;
}

.navbar-toggler .fa {
  color: #ffffff;
  font-size: 26px;
}

.nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}

@media screen and (max-width: 1024px) {
  .navbar-nav a {
    margin: 0px 5px 0 17px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
  .navbar {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .jumbotron h1 {
    font-size: 26px;
    line-height: 1.7;
  }
  .intro {
    padding-top: 0;
  }

  .intro img {
    width: 150px;
    padding-top: 50px;
  }
}

.card-header {
  background-color: #ffc2c7 !important;
}

.carousel {
  margin: auto;
}

.carousel-item > img {
  margin: auto;
  border-radius: 25px;
  max-width: 80%;
  height: auto;
}

.slider-title {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 10px;
  color: #1f181e;
}

.social-media {
  padding-bottom: 2rem;
}

.footer {
  background-color: #ffc2c7 !important;
}

.chevron {
  color: #bfbfbf;
}

.form-control {
  border: 2px solid #1f181e;
  border-radius: 5px;
}
